<!---Header needs loggging out -->
<!---View their own profile -->
<!---Accessing the chat -->
<!--- If the user is an administrator, viewing the admin dashboard.-->
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Chat App</title>
</head>
