<!--- Chat display maybe -->
<!---Behind login logic-->
<!--Show all users that are online in the chat-->
<!--Nofity users when somemone join with a message-->
<!--Message need timestamp and user name-->
<!--Need to double check wen socket connections-->
<%- include('partials/header') %>
<h2>Welcome to the Chat Room</h2>

<!-- The user who is logged in-->
  <div>
    <p>You are logged in as: <strong><%= loggedUser.username %></strong></p>
  </div>

  <!---List of all current users-->
  <!-- Chatbox-->

  <!-- Need for real time chats messages-->
<script src="/frontend.js" type="application/javascript"></script>
