<%- include('partials/header') %>

    <div class="main-content">
        <div class="profile-box">
            <h1>Login</h1>
            <p>Please, fill in your credentials to log in.</p>
            <!-- Need to fill in username and password -->
            <form action="/login" method="POST">
                <% if (errorMessage) { %>
                    <p class="error-message"><%= errorMessage %></p>
                <% } %>

                <div class="form-input-container">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" required>
                </div>

                <div class="form-input-container">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" required>
                </div>

                <button type="submit" class="action-button">Login</button>
            </form>
            <!--Allow need user to go to another page to create account-->
            <p style="font-size: 16px; margin-top: 30px;"> 
                Don't have an account?&nbsp;
                <a href="/signup" class="register-link">Sign up!</a>
            </p>
        </div>
    </div>

<%- include('partials/footer') %>

