<!--- Home Page?? double check-->
<!--New/Unauthenticated users are presented with a landing page prompting them to log in or sign up.--->
<!--New users must be able to register.--->
<!--Without having the homepage connect a socket, display the number of users currently online-->
    <div class="main-content">
        <h1>Welcome to the Socket Chat</h1>
    </div>

